body{
    margin: 0;
    padding: 0;
    background-image: url("../elevated-view-laptop-stationeries-blue-backdrop.jpg");
    background-size: cover;
    margin-left: 300px;
    margin-right: 600px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.8px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    background-color:darkslategray;
    padding: 50px;
    border-radius: 20px;
    filter: drop-shadow(6px 5px 6px black);
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 125px;
    border: 2px solid white;
}
label{
    margin-left: 60px;
    color:white;
}
input{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    height: 30px;
    width: 200px;
    margin-top: 5px;
    margin-left: 60px;
    padding: 5px;
    padding-left: 15px;
    box-shadow: 4px 2px 4px black;
    border: none;
}
a{
    text-align: center;
    color: white;
    text-decoration: none;
}
.two{
    color: white;
    margin-top: 15px;
    background-color:rgb(0, 0, 0);
    height: 30px;
    width: 205px;
    margin-left: 58px;
    border-radius: 25px;
    padding: 5px;
    padding-top: 10px;
    padding-left: 15px;
    text-align: center;
    filter: drop-shadow(2px 1px 2px rgb(0, 0, 0));
}
.two:hover{
    color: aqua;
}