body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#6BB77B;
    letter-spacing: 0.8px;
}
video{
    height: 300px;
    object-fit: cover;    
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
}
h1{
    text-align: center;
    text-shadow:3px 1px gray;
}
marquee{
    color: white;
}
span{
    background-color: white;
    color: black;
    padding: 3px 6px;
    border-radius: 12px;
}
.container a{
    background-color: #f87829;
    color: white;
    padding: 10px 105px;
    text-decoration: none;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 4px black);
}
.container a:hover{
    background-color: #ff6200;
    color: white;
    padding: 10px 105px;
    text-decoration: none;
    border-radius: 20px;
}
.fa-solid{
    font-size: 13px;
}
.flex1{
    display: flex;
    justify-content: space-evenly;
    line-height: 25px;
    margin-bottom: 100px;
}
.flex1 div{
    padding: 20px;
    background-color: #22431c;
    color: white;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 10px black);
}
.flex2{
    display: flex;
    justify-content: space-evenly;
    line-height: 25px;
    margin-bottom: 100px;
}
.flex2 div{
    padding: 20px;
    background-color: #22431c;
    color: white;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 10px black);
}
.flex3{
    display: flex;
    justify-content: space-evenly;
    line-height: 25px;
}
.flex3 div{
    padding: 20px;
    background-color: #22431c;
    color: white;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 10px black);
}
P{
    margin-left: 10px;
}
.copy{
    background-color:#6d0555;
    color: white;
}
.incopy{
    display: flex;
    margin-top: 40px;
}
.right img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top:60px;
}
.right p{
    margin-left: 40px;
    margin-top: 40px;
}
.learn ul{
    margin-top: 60px;
    margin-left: 200px;
}
.learn ul li{
    list-style-type: none;
    line-height: 25px;
}
.about ul{
    margin-top: 60px;
    margin-left: 50px;
}
.about ul li{
    list-style-type: none;
    line-height: 25px;
}
.news{
    margin-top: 45px;
    margin-left: 90px;
}
.news  input{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(4px 2px 4px black);
}
.news a{
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 50px;
    background-color: black;
    border-radius: 15px;
    color: aqua;
    border: none;
}
.news a:hover{
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 50px;
    background-color: black;
    border-radius: 15px;
    color: white;
    border: none;
}
.outcopy{
    display: flex;
    margin-top: 40px;
}
.out1 ul li{
    list-style-type: none;
    display: inline;
    margin-right: 40px;
}
.out2{
    margin-left: 800px;
}
.out2 i{
    margin-right: 15px;
}
.about ul li a{
    text-decoration: none;
    color: white;
}