body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.8px;
}
.class1 h1{
    font-size: 40px;
    margin-top: 0;
    padding-top: 35px;
    text-shadow:3px 1px gray;
}
.container{
    text-align: center;
    background-image: url("../elevated-view-laptop-stationeries-yellow-backdrop.jpg");
    background-size: cover;
    color: white;
    width: 100%;
}
.class1{
    margin-left: 650px;
    color: black;
}
.class2{
    margin-left: 500px;
}
.cls1{
    background-color: teal;
    color: black;
    margin-left: 240px;
    margin-right: 100px;
    padding: 5px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
}
.cls2{
    background-color: teal;
    color: black;
    margin-left: 740px;
    margin-right: 100px;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
}
.cls3{
    background-color: teal;
    color: black;
    margin-left: 740px;
    margin-right: 100px;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
}
.flex1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
}
.flex2{
    display: flex;
    justify-content: space-evenly;
}
.class3{
    padding: 5px;
}
.cls4{
    background-color: rgb(124, 116, 116);
    color: black;
    padding: 10px 60px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}
.cls5{
    background-color: rgb(124, 116, 116);
    color: black;
    padding: 10px 50px;
    text-align: center;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 20px;
}
.cls6{
    background-color: rgb(124, 116, 116);
    color: black;
    padding: 10px 35px;
    text-align: center;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 20px;
}
.cls7{
    background-color: rgb(124, 116, 116);
    color: black;
    padding: 10px 50px;
    text-align: center;
    margin-left: 16px;
    margin-right: 5px;
    border-radius: 20px;
}
.copy{
    background-color:#6d0555;
    color: white;
}
.incopy{
    display: flex;
    margin-top: 40px;
}
.right img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top:60px;
}
.right p{
    margin-left: 40px;
    margin-top: 40px;
}
.learn ul{
    margin-top: 60px;
    margin-left: 200px;
}
.learn ul li{
    list-style-type: none;
    line-height: 25px;
}
.about ul{
    margin-top: 60px;
    margin-left: 50px;
}
.about ul li{
    list-style-type: none;
    line-height: 25px;
}
.news{
    margin-top: 45px;
    margin-left: 90px;
}
.news  input{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(4px 2px 4px black);
}
.news a{
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 50px;
    background-color: black;
    border-radius: 15px;
    color: aqua;
    border: none;
}
.news a:hover{
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 50px;
    background-color: black;
    border-radius: 15px;
    color: white;
    border: none;
}
.outcopy{
    display: flex;
    margin-top: 40px;
}
.out1 ul li{
    list-style-type: none;
    display: inline;
    margin-right: 40px;
}
.out2{
    margin-left: 800px;
}
.out2 i{
    margin-right: 15px;
}
.about ul li a{
    text-decoration: none;
    color: white;
}